name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'

      - run: pnpm i --frozen-lockfile

      - run: pnpm run lint

      - run: pnpm run check
